<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="myController.js"></script>
<body ng-app="myApp">
 
 
 
	<div ng-controller="myControll">
	Record Selection:<input type="number" min="0" max="6" step="1" ng-model="limit" ></input>
		<table border="1">
		   <thead>
		      <th>Name</th>
		      <th>Dob</th>
		      <th>Gender</th>
		      <th>Salary</th>
		   </thead>
		   <tr ng-repeat="employee in employees|limitTo:limit">
		     <td>{{employee.name|uppercase}}</td>
		     <td>{{employee.dob|date:"dd/MM/yyyy"}}</td>
		     <td>{{employee.gender|lowercase}}</td>
		     <td>{{employee.salary|number:3}}</td>
		   </tr>
		</table>
	</div>
</body>