<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="myController1.js"></script>
<body ng-app="myApp">
 
 
 
	<div ng-controller="myControll">
	Sort By :
	<select ng-model="orderField">
	  <option value="-name">Name DESC</option>
	  <option value="-dob">DOB DESC</option>
	  <option value="-gender">Gender DESC</option>
	  <option value="-salary">Salary DESC</option>
	</select>
		<table border="1">
		   <thead>
		      <th>Name</th>
		      <th>Dob</th>
		      <th>Gender</th>
		      <th>Salary</th>
		   </thead>
		 <!--   <tr ng-repeat="employee in employees|orderBy:'name'">--> 
		<!-- <tr ng-repeat="employee in employees|orderBy:'salary':false">--> 
		<tr ng-repeat="employee in employees|orderBy:orderField">
		     <td>{{employee.name|uppercase}}</td>
		     <td>{{employee.dob|date:"dd/MM/yyyy"}}</td>
		     <td>{{employee.gender|lowercase}}</td>
		     <td>{{employee.salary|number:3}}</td>
		   </tr>
		</table>
	</div>
</body>