<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="myController1.js"></script>
<body ng-app="myApp">
 
 
 
	<div ng-controller="myControll">
	<input type="text" ng-model="searchText.name" placeholder="Name"/>
	<input type="text" ng-model="searchText.gender" placeholder="Gender"/>
	Exact Match<input type="checkbox" ng-model="exactmatch"/>
	
		<table border="1">
		   <thead>
		      <th>Name</th>
		      <th>Dob</th>
		      <th>Gender</th>
		      <th>Salary</th>
		   </thead>
		 <!--   <tr ng-repeat="employee in employees|orderBy:'name'">--> 
		<!-- <tr ng-repeat="employee in employees|orderBy:'salary':false">--> 
		<tr ng-repeat="employee in employees|filter:searchText:exactmatch">
		     <td>{{employee.name}}</td>
		     <td>{{employee.dob|date:"dd/MM/yyyy"}}</td>
		     <td>{{employee.gender}}</td>
		     <td>{{employee.salary|number:3}}</td>
		   </tr>
		</table>
	</div>
</body>